@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';

body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

